@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url("https://p.typekit.net/p.css?s=1&k=zge3vok&ht=tk&f=138&a=69548284&app=typekit&e=css");

@font-face {
    font-family: "proxima-nova";
    src: url("https://use.typekit.net/af/671919/00000000000000007735954e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"), url("https://use.typekit.net/af/671919/00000000000000007735954e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"), url("https://use.typekit.net/af/671919/00000000000000007735954e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 900;
    font-stretch: normal;
}

.tk-proxima-nova {
    font-family: "proxima-nova", sans-serif;
}

body {
    font-family: Chivo, Arial, Helvetica, sans-serif !important;
    background: #181b1f;
    font-weight: 400;
}

.wp-admin {

    /* Links */
    a {
        color: #0000f1;
    }

    a:hover,
    a:active,
    a:focus {
        color: #ff27d3;
    }

    #post-body .misc-pub-post-status:before,
    #post-body #visibility:before,
    .curtime #timestamp:before,
    #post-body .misc-pub-revisions:before,
    span.wp-media-buttons-icon:before {
        color: currentColor;
    }

    /* Forms */
    input[type=checkbox]:checked::before {
        content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%230000f1%27%2F%3E%3C%2Fsvg%3E");
    }

    input[type=radio]:checked::before {
        background: #0000f1;
    }

    .wp-core-ui input[type="reset"]:hover,
    .wp-core-ui input[type="reset"]:active {
        color: #ff27d3;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="color"]:focus,
    input[type="date"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="email"]:focus,
    input[type="month"]:focus,
    input[type="number"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="text"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus,
    input[type="week"]:focus,
    input[type="checkbox"]:focus,
    input[type="radio"]:focus,
    select:focus,
    textarea:focus {
        border-color: #0000f1;
        box-shadow: 0 0 0 1px #0000f1;
    }

    /* Core UI */
    .wp-core-ui .button,
    .wp-core-ui .button-secondary {
        color: #0000f1;
        border-color: #0000f1;
    }

    .wp-core-ui .button.hover,
    .wp-core-ui .button:hover,
    .wp-core-ui .button-secondary:hover,
    .wp-core-ui .button.focus,
    .wp-core-ui .button:focus,
    .wp-core-ui .button-secondary:focus {
        color: #0000d8;
        border-color: #0000d8;
    }

    .wp-core-ui .button.focus,
    .wp-core-ui .button:focus,
    .wp-core-ui .button-secondary:focus {
        color: #0000d8;
        border-color: #0000f1;
        box-shadow: 0 0 0 1px #0000f1;
    }

    .wp-core-ui .button:active {
        background: #0000d8;
        border-color: #0000d8;
    }

    .wp-core-ui .button.active,
    .wp-core-ui .button.active:focus,
    .wp-core-ui .button.active:hover {
        color: #0000d8;
        border-color: #0000d8;
        box-shadow: inset 0 2px 5px -3px #0000d8;
    }

    .wp-core-ui .button-primary {
        color: #fff;
        background: #0000f1;
        border-color: #0000f1;
    }

    .wp-core-ui .button-primary:hover,
    .wp-core-ui .button-primary:focus {
        color: #fff;
        background: #0101ff;
        border-color: #0000e2;
    }

    .wp-core-ui .button-primary:focus {
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0000f1;
    }

    .wp-core-ui .button-primary:active {
        color: #fff;
        background: #0000d8;
        border-color: #0000d8;
    }

    .wp-core-ui .button-primary.active,
    .wp-core-ui .button-primary.active:focus,
    .wp-core-ui .button-primary.active:hover {
        color: #fff;
        background: #0000f1;
        border-color: #0000a5;
        box-shadow: inset 0 2px 5px -3px black;
    }

    .wp-core-ui .button-primary[disabled],
    .wp-core-ui .button-primary:disabled,
    .wp-core-ui .button-primary.button-primary-disabled,
    .wp-core-ui .button-primary.disabled {
        color: #c7c7d1 !important;
        background: #0000c8 !important;
        border-color: #0000c8 !important;
        text-shadow: none !important;
    }

    .wp-core-ui .button-group>.button.active {
        border-color: #0000f1;
    }

    .wp-core-ui .wp-ui-primary {
        color: #fff;
        background-color: #181b1f;
    }

    .wp-core-ui .wp-ui-text-primary {
        color: #181b1f;
    }

    .wp-core-ui .wp-ui-highlight {
        color: #fff;
        background-color: #0000f1;
    }

    .wp-core-ui .wp-ui-text-highlight {
        color: #0000f1;
    }

    .wp-core-ui .wp-ui-notification {
        color: #fff;
        background-color: #f300c2;
    }

    .wp-core-ui .wp-ui-text-notification {
        color: #f300c2;
    }

    .wp-core-ui .wp-ui-text-icon {
        color: #f1f2f3;
    }

    /* List tables */
    .wrap .add-new-h2:hover,
    .wrap .page-title-action:hover {
        color: #fff;
        background-color: #181b1f;
    }

    .view-switch a.current:before {
        color: #181b1f;
    }

    .view-switch a:hover:before {
        color: #f300c2;
    }

    /* Admin Menu */
    #adminmenuback,
    #adminmenuwrap,
    #adminmenu {
        background: #181b1f;
    }

    #adminmenu a {
        color: #fff;
    }

    #adminmenu div.wp-menu-image:before {
        color: #f1f2f3;
    }

    #adminmenu a:hover,
    #adminmenu li.menu-top:hover,
    #adminmenu li.opensub>a.menu-top,
    #adminmenu li>a.menu-top:focus {
        color: #fff;
        background-color: #0000f1;
    }

    #adminmenu li.menu-top:hover div.wp-menu-image:before,
    #adminmenu li.opensub>a.menu-top div.wp-menu-image:before {
        color: #fff;
    }

    /* Active tabs use a bottom border color that matches the page background color. */
    .about-wrap .nav-tab-active,
    .nav-tab-active,
    .nav-tab-active:hover {
        background-color: #f8f8f8;
        border-bottom-color: #f8f8f8;
    }

    /* Admin Menu: submenu */


    #adminmenu .wp-submenu {
        border-radius: 0 0.25rem 0.25rem 0;
        left: 200px;
    }

    #adminmenu .wp-submenu,
    #adminmenu .wp-has-current-submenu .wp-submenu,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
    .folded #adminmenu .wp-has-current-submenu .wp-submenu,
    #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
        background: #08090b;
    }


    #adminmenu .wp-has-current-submenu .wp-submenu,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
    .folded #adminmenu .wp-has-current-submenu .wp-submenu {
        left: auto;
    }

    #adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
        border-right-color: #08090b;
    }

    #adminmenu .wp-submenu .wp-submenu-head {
        color: #babbbc;
    }

    #adminmenu .wp-submenu a,
    #adminmenu .wp-has-current-submenu .wp-submenu a,
    .folded #adminmenu .wp-has-current-submenu .wp-submenu a,
    #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
        color: #babbbc;
    }

    #adminmenu .wp-submenu a:focus,
    #adminmenu .wp-submenu a:hover,
    #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
    #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
    .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
    .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
    #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:focus,
    #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
        color: #342ee6;
    }

    /* Admin Menu: current */
    #adminmenu .wp-submenu li.current a,
    #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
        color: #fff;
    }

    #adminmenu .wp-submenu li.current a:hover,
    #adminmenu .wp-submenu li.current a:focus,
    #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:hover,
    #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:focus,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
        color: #342ee6;
    }

    ul#adminmenu a.wp-has-current-submenu:after,
    ul#adminmenu>li.current>a.current:after {
        border-right-color: #f8f8f8;
    }

    #adminmenu li.current a.menu-top,
    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
    #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
    .folded #adminmenu li.current.menu-top {
        color: #fff;
        background: #0000f1;
    }

    #adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
    #adminmenu a.current:hover div.wp-menu-image:before,
    #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
    #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
    #adminmenu li:hover div.wp-menu-image:before,
    #adminmenu li a:focus div.wp-menu-image:before,
    #adminmenu li.opensub div.wp-menu-image:before,
    .ie8 #adminmenu li.opensub div.wp-menu-image:before {
        color: #fff;
    }

    /* Admin Menu: bubble */
    #adminmenu .awaiting-mod,
    #adminmenu .update-plugins {
        color: #fff;
        background: #f300c2;
    }

    #adminmenu li.current a .awaiting-mod,
    #adminmenu li a.wp-has-current-submenu .update-plugins,
    #adminmenu li:hover a .awaiting-mod,
    #adminmenu li.menu-top:hover>a .update-plugins {
        color: #fff;
        background: #08090b;
    }

    /* Admin Menu: collapse button */
    #collapse-button {
        color: #f1f2f3;
    }

    #collapse-button:hover,
    #collapse-button:focus {
        color: #342ee6;
    }

    /* Admin Bar */
    #wpadminbar {
        color: #fff;
        background: #181b1f;
    }

    #wpadminbar .ab-item,
    #wpadminbar a.ab-item,
    #wpadminbar>#wp-toolbar span.ab-label,
    #wpadminbar>#wp-toolbar span.noticon {
        color: #fff;
    }

    #wpadminbar .ab-icon,
    #wpadminbar .ab-icon:before,
    #wpadminbar .ab-item:before,
    #wpadminbar .ab-item:after {
        color: #f1f2f3;
    }

    #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
    #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus,
    #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
    #wpadminbar.nojs .ab-top-menu>li.menupop:hover>.ab-item,
    #wpadminbar .ab-top-menu>li.menupop.hover>.ab-item {
        color: #342ee6;
        background: #08090b;
    }

    #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
    #wpadminbar:not(.mobile)>#wp-toolbar li.hover span.ab-label,
    #wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label {
        color: white;
    }

    #wpadminbar:not(.mobile) li:hover .ab-icon:before,
    #wpadminbar:not(.mobile) li:hover .ab-item:before,
    #wpadminbar:not(.mobile) li:hover .ab-item:after,
    #wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
        color: #fff;
    }

    /* Admin Bar: submenu */
    #wpadminbar .menupop .ab-sub-wrapper {
        background: #08090b;
    }

    #wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
    #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
        background: #2b2d30;
    }

    #wpadminbar .ab-submenu .ab-item,
    #wpadminbar .quicklinks .menupop ul li a,
    #wpadminbar .quicklinks .menupop.hover ul li a,
    #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
        color: #babbbc;
    }

    #wpadminbar .quicklinks li .blavatar,
    #wpadminbar .menupop .menupop>.ab-item:before {
        color: #f1f2f3;
    }

    #wpadminbar .quicklinks .menupop ul li a:hover,
    #wpadminbar .quicklinks .menupop ul li a:focus,
    #wpadminbar .quicklinks .menupop ul li a:hover strong,
    #wpadminbar .quicklinks .menupop ul li a:focus strong,
    #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
    #wpadminbar .quicklinks .menupop.hover ul li a:hover,
    #wpadminbar .quicklinks .menupop.hover ul li a:focus,
    #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
    #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
    #wpadminbar li:hover .ab-icon:before,
    #wpadminbar li:hover .ab-item:before,
    #wpadminbar li a:focus .ab-icon:before,
    #wpadminbar li .ab-item:focus:before,
    #wpadminbar li .ab-item:focus .ab-icon:before,
    #wpadminbar li.hover .ab-icon:before,
    #wpadminbar li.hover .ab-item:before,
    #wpadminbar li:hover #adminbarsearch:before,
    #wpadminbar li #adminbarsearch.adminbar-focused:before {
        color: #0000f1;
    }

    #wpadminbar .quicklinks li a:hover .blavatar,
    #wpadminbar .quicklinks li a:focus .blavatar,
    #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a .blavatar,
    #wpadminbar .menupop .menupop>.ab-item:hover:before,
    #wpadminbar.mobile .quicklinks .ab-icon:before,
    #wpadminbar.mobile .quicklinks .ab-item:before {
        color: #0000f1;
    }

    #wpadminbar.mobile .quicklinks .hover .ab-icon:before,
    #wpadminbar.mobile .quicklinks .hover .ab-item:before {
        color: #f1f2f3;
    }

    /* Admin Bar: search */
    #wpadminbar #adminbarsearch:before {
        color: #f1f2f3;
    }

    #wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
        color: #fff;
        background: #282d33;
    }

    /* Admin Bar: recovery mode */
    #wpadminbar #wp-admin-bar-recovery-mode {
        color: #fff;
        background-color: #f300c2;
    }

    #wpadminbar #wp-admin-bar-recovery-mode .ab-item,
    #wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
        color: #fff;
    }

    #wpadminbar .ab-top-menu>#wp-admin-bar-recovery-mode.hover>.ab-item,
    #wpadminbar.nojq .quicklinks .ab-top-menu>#wp-admin-bar-recovery-mode>.ab-item:focus,
    #wpadminbar:not(.mobile) .ab-top-menu>#wp-admin-bar-recovery-mode:hover>.ab-item,
    #wpadminbar:not(.mobile) .ab-top-menu>#wp-admin-bar-recovery-mode>.ab-item:focus {
        color: #fff;
        background-color: #db00af;
    }

    /* Admin Bar: my account */
    #wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
        background-color: #282d33;
        border-color: #282d33;
    }

    #wpadminbar #wp-admin-bar-user-info .display-name {
        color: #fff;
    }

    #wpadminbar #wp-admin-bar-user-info a:hover .display-name {
        color: #342ee6;
    }

    #wpadminbar #wp-admin-bar-user-info .username {
        color: #babbbc;
    }

    /* Pointers */
    .wp-pointer .wp-pointer-content h3 {
        background-color: #0000f1;
        border-color: #211be0;
    }

    .wp-pointer .wp-pointer-content h3:before {
        color: #0000f1;
    }

    .wp-pointer.wp-pointer-top .wp-pointer-arrow,
    .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
    .wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
    .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
        border-bottom-color: #0000f1;
    }

    /* Media */
    .media-item .bar,
    .media-progress-bar div {
        background-color: #0000f1;
    }

    .details.attachment {
        box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0000f1;
    }

    .attachment.details .check {
        background-color: #0000f1;
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0000f1;
    }

    .media-selection .attachment.selection.details .thumbnail {
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0000f1;
    }

    /* Themes */
    .theme-browser .theme.active .theme-name,
    .theme-browser .theme.add-new-theme a:hover:after,
    .theme-browser .theme.add-new-theme a:focus:after {
        background: #0000f1;
    }

    .theme-browser .theme.add-new-theme a:hover span:after,
    .theme-browser .theme.add-new-theme a:focus span:after {
        color: #0000f1;
    }

    .theme-section.current,
    .theme-filter.current {
        border-bottom-color: #181b1f;
    }

    body.more-filters-opened .more-filters {
        color: #fff;
        background-color: #181b1f;
    }

    body.more-filters-opened .more-filters:before {
        color: #fff;
    }

    body.more-filters-opened .more-filters:hover,
    body.more-filters-opened .more-filters:focus {
        color: #fff;
        background-color: #0000f1;
    }

    body.more-filters-opened .more-filters:hover:before,
    body.more-filters-opened .more-filters:focus:before {
        color: #fff;
    }

    /* Widgets */
    .widgets-chooser li.widgets-chooser-selected {
        color: #fff;
        background-color: #0000f1;
    }

    .widgets-chooser li.widgets-chooser-selected:before,
    .widgets-chooser li.widgets-chooser-selected:focus:before {
        color: #fff;
    }

    /* Responsive Component */
    div#wp-responsive-toggle a:before {
        color: #f1f2f3;
    }

    .wp-responsive-open div#wp-responsive-toggle a {
        border-color: transparent;
        background: #0000f1;
    }

    .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
        background: #08090b;
    }

    .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
        color: #f1f2f3;
    }

    /* TinyMCE */
    .mce-container.mce-menu .mce-menu-item:hover,
    .mce-container.mce-menu .mce-menu-item.mce-selected,
    .mce-container.mce-menu .mce-menu-item:focus,
    .mce-container.mce-menu .mce-menu-item-normal.mce-active,
    .mce-container.mce-menu .mce-menu-item-preview.mce-active {
        background: #0000f1;
    }



    #adminmenu,
    #adminmenu .wp-submenu,
    #adminmenuback,
    #adminmenuwrap {
        width: 200px;
    }

    #wpbody {
        padding: 0 3rem;
        background: #f8f8f8;
        border-radius: 1rem;
        min-height: 100vh;
    }

    .postbox,
    #menu-management .menu-edit,
    #menu-settings-column .accordion-container,
    .comment-ays,
    .feature-filter,
    .imgedit-group,
    .manage-menus,
    .menu-item-handle,
    .popular-tags,
    .stuffbox,
    .widget-inside,
    .widget-top,
    .widgets-holder-wrap,
    .wp-editor-container,
    p.popular-tags,
    .media-toolbar,
    .wp-filter,
    table.widefat {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
        border-radius: 0.3rem;
        border: none;
    }

    #wpadminbar #adminbarsearch:before,
    #wpadminbar .ab-icon:before,
    #wpadminbar .ab-item:before {
        color: #a7aaad;
    }

    #wpadminbar {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    }

    #adminmenu li.current a.menu-top,
    #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
    .folded #adminmenu li.current.menu-top {
        display: flex;
        align-items: center;
        color: white !important;
    }

    #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
    #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover,
    #adminmenu .wp-submenu a:focus,
    #adminmenu .wp-submenu a:hover,
    #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:focus,
    #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover,
    .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
    .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover {
        color: white !important;
    }

    .wp-core-ui .button,
    .wp-core-ui .button-secondary,
    .wp-core-ui .button-primary {
        color: #003ab3 !important;
        background: #86a7bd1a !important;
        border: none;
        border-radius: 0.3rem;

    }


    .wrap .add-new-h2,
    .wrap .add-new-h2:active,
    .wrap .page-title-action,
    .wrap .page-title-action:active,
    .btn {
        display: inline-flex;
        align-items: center;
        margin-left: 0.5rem;
        padding: 0.5rem 1rem;
        transform: translateY(-3px);
        color: white !important;
        background: #2ead4b;
        border-radius: 2rem;
        border: none;
        white-space: nowrap;

    }

    .alternate,
    .striped>tbody>:nth-child(odd),
    ul.striped>:nth-child(odd) {
        background: #f2f5f7;
    }

    .media-frame,
    .media-frame .attachments-browser,
    .media-frame-content {
        overflow: visible;
    }


    .attachments-wrapper {

        margin: -0.65rem;
    }

    .wrap h1.wp-heading-inline {
        width: fit-content;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: #0000f1;
        font-size: 2rem;
        font-family: proxima-nova, Proxima Nova, Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: 1000;
        line-height: 0.875;
    }

    input[type=color],
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    select,
    textarea,
    .wp-core-ui select {
        border: 1px solid #c9cbce;
        border-radius: 0.3rem;
    }

    .ui-sortable-handle {

        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px !important;
    }

    .postbox-header {
        background: #f3f5f780;
        border: none;
    }

    .widefat thead td,
    .widefat tfoot tr td,
    .widefat tfoot tr th,
    .widefat thead tr td,
    .widefat thead tr th,
    .widefat thead th {
        border: none !important;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #posts-filter .wp-filter {
        border: none !important;
        border-radius: 0.3rem;
        background: #f3f5f780;

    }

    ul#adminmenu a.wp-has-current-submenu:after,
    ul#adminmenu>li.current>a.current:after {
        border-right-color: #f8f8f8;
    }

    #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item {
        color: white;
        background-color: #0000f1;
    }

    #adminmenu li.menu-top:hover .wp-menu-name,
    #adminmenu a:hover,
    #adminmenu li>a.menu-top:focus,
    #adminmenu .wp-submenu li.current a:focus,
    #adminmenu .wp-submenu li.current a:hover {
        color: white !important;
        box-shadow: none;
    }

    #adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after,
    #adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
        border: none;
    }

    .folded #adminmenuwrap #adminmenu div.wp-menu-image,
    .auto-fold #adminmenu div.wp-menu-image {
        display: block !important;
    }


    #adminmenu div.wp-menu-image {
        display: none;
    }

    #adminmenu div.wp-menu-name {
        padding: 8px;

        font-weight: 350;
    }

    .wp-submenu-head {
        background: #0000f1 !important;
    }

    #wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
        display: block;
        width: 22px;
        height: 20px;
        margin: 1px 2px;
        color: rgba(0, 0, 0, 0);
        background-image: url("../images/logo.svg") !important;
        background-position: 0 0;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
        color: transparent;
    }

    #wpadminbar #wp-admin-bar-wp-logo.hover>.ab-item .ab-icon {
        background-position: 0 0;
    }

    #wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
        content: "";
    }

    #adminmenu .wp-submenu-head {
        display: none !important;
    }

    #publish {
        color: white !important;
        background: #0000f1 !important;
    }

    .media-upload-form .notice,
    .media-upload-form div.error,
    .wrap .notice,
    .wrap div.error,
    .wrap div.updated {
        border-radius: 0.25rem;
    }

    #wpcontent,
    #wpfooter {
        margin-left: 200px;
    }


    #wpcontent {
        padding-left: 0;
        background-color: #181b1f;
    }

    .folded #adminmenuback {
        width: 52px !important;
    }

    .acf-admin-toolbar {
        display: none;
    }

    #acf-field-group-pro-features {
        display: none !important;
    }

    .acf-headerbar {
        margin-left: 0;
        background-color: white;
        border-radius: 1rem 1rem 0 0;
        position: relative;


        .acf-btn {
            @extend .btn;
        }
    }

    .acf-editor-wrap .wp-editor-container {
        border: 1px solid #ccd0d4 !important;
    }

    #e-admin-top-bar-root {
        width: calc(100% - 200px);
    }


    .notice {
        position: relative;
        box-sizing: border-box;
        padding: 1rem;
        background-color: #E7EFF9;
        border-width: 1px;
        border-style: solid;
        border-color: #9DBAEE;
        border-radius: 8px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
        color: #344054;
    }

    .update-message,
    .hmwp_notice.notice {
        background-color: #fcf9e8 !important;
        border: 1px solid #eeda9d !important;
    }

    .cky-header {
        display: none;
    }

    .cky-app-wrap .cky-app-nav-bar {
        left: 200px;
    }

    .cky-app-wrap .cky-row,
    .cky-nav-menu {
        margin-left: 0;
    }

    .button.updated-message:before,
    .installed p:before,
    .updated-message p:before {
        color: #1daa35;
    }

    @media only screen and (max-width: 960px) {

        .auto-fold #adminmenu,
        .auto-fold #adminmenuback,
        .auto-fold #adminmenuwrap {
            width: 52px;
        }

        .auto-fold #adminmenu div.wp-menu-image {
            position: relative;
        }

        #wpcontent {
            padding: 0;
        }
    }


    @media only screen and (min-width: 960px) {

        #adminmenu .wp-submenu-head,
        #adminmenu a.menu-top {
            padding: 0.5rem;
        }

    }
}