  @import url("https://use.typekit.net/qtl0xnh.css");

  .tk-proxima-nova {
      font-family: "proxima-nova", sans-serif;
  }

  body {
      font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
      background: var(--color-background);
      font-weight: 400;

      --color-background: #181b1f;
      --color-light-background: #f3f5f7;
      --color-icon: #a7aaad;
      --color-border: hsl(210, 20%, 90%);
      --sidebar-size: 50px; //--color-background: #f2f5f7;
      --color-button: #2ead4b;
      --color-primary: #0000f1;
  }


  .googlesitekit-plugin h1,
  .googlesitekit-plugin,
  .mdc-form-field,
  .googlesitekit-plugin h2,
  .googlesitekit-plugin h3,
  .googlesitekit-plugin h4,
  .googlesitekit-plugin h5,
  .googlesitekit-plugin h6 {
      font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
  }

  #wpwrap {
      margin-top: 1rem;
  }

  .wp-admin {

      /* Links */
      a {
          color: #1746e5;
      }

      a:hover,
      a:active,
      a:focus {
          color: #ff27d3;
      }

      #post-body .misc-pub-post-status:before,
      #post-body #visibility:before,
      .curtime #timestamp:before,
      #post-body .misc-pub-revisions:before,
      span.wp-media-buttons-icon:before {
          color: currentColor;
      }

      /* Forms */
      input[type=checkbox]:checked::before {
          content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%230000f1%27%2F%3E%3C%2Fsvg%3E");
      }

      input[type=radio]:checked::before {
          background: #0000f1;
      }

      .wp-core-ui input[type="reset"]:hover,
      .wp-core-ui input[type="reset"]:active {
          color: #ff27d3;
      }

      input[type="text"]:focus,
      input[type="password"]:focus,
      input[type="color"]:focus,
      input[type="date"]:focus,
      input[type="datetime"]:focus,
      input[type="datetime-local"]:focus,
      input[type="email"]:focus,
      input[type="month"]:focus,
      input[type="number"]:focus,
      input[type="search"]:focus,
      input[type="tel"]:focus,
      input[type="text"]:focus,
      input[type="time"]:focus,
      input[type="url"]:focus,
      input[type="week"]:focus,
      input[type="checkbox"]:focus,
      input[type="radio"]:focus,
      select:focus,
      textarea:focus {
          border-color: #0000f1;
          box-shadow: 0 0 0 1px #0000f1;
      }

      /* Core UI */
      .wp-core-ui .button,
      .wp-core-ui .button-secondary {
          color: #0000f1;
          border-color: #0000f1;
      }

      .wp-core-ui .button.hover,
      .wp-core-ui .button:hover,
      .wp-core-ui .button-secondary:hover,
      .wp-core-ui .button.focus,
      .wp-core-ui .button:focus,
      .wp-core-ui .button-secondary:focus {
          color: #0000d8;
          border-color: #0000d8;
      }

      .wp-core-ui .button.focus,
      .wp-core-ui .button:focus,
      .wp-core-ui .button-secondary:focus {
          color: #0000d8;
          border-color: #0000f1;
          box-shadow: 0 0 0 1px #0000f1;
      }

      .wp-core-ui .button:active {
          background: #0000d8;
          border-color: #0000d8;
      }

      .wp-core-ui .button.active,
      .wp-core-ui .button.active:focus,
      .wp-core-ui .button.active:hover {
          color: #0000d8;
          border-color: #0000d8;
          box-shadow: inset 0 2px 5px -3px #0000d8;
      }

      .wp-core-ui .button-primary {
          color: #fff;
          background: #0000f1;
          border-color: #0000f1;
      }

      .wp-core-ui .button-primary:hover,
      .wp-core-ui .button-primary:focus {
          color: #fff;
          background: #0101ff;
          border-color: #0000e2;
      }

      .wp-core-ui .button-primary:focus {
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0000f1;
      }

      .wp-core-ui .button-primary:active {
          color: #fff;
          background: #0000d8;
          border-color: #0000d8;
      }

      .wp-core-ui .button-primary.active,
      .wp-core-ui .button-primary.active:focus,
      .wp-core-ui .button-primary.active:hover {
          color: #fff;
          background: #0000f1;
          border-color: #0000a5;
          box-shadow: inset 0 2px 5px -3px black;
      }

      .wp-core-ui .button-primary[disabled],
      .wp-core-ui .button-primary:disabled,
      .wp-core-ui .button-primary.button-primary-disabled,
      .wp-core-ui .button-primary.disabled {
          color: #c7c7d1 !important;
          background: #0000c8 !important;
          border-color: #0000c8 !important;
          text-shadow: none !important;
      }

      .wp-core-ui .button-group>.button.active {
          border-color: #0000f1;
      }

      .wp-core-ui .wp-ui-primary {
          color: #fff;
          background-color: var(--color-background);
      }

      .wp-core-ui .wp-ui-text-primary {
          color: var(--color-background);
      }

      .wp-core-ui .wp-ui-highlight {
          color: #fff;
          background-color: #0000f1;
      }

      .wp-core-ui .wp-ui-text-highlight {
          color: #0000f1;
      }

      .wp-core-ui .wp-ui-notification {
          color: #fff;
          background-color: #f300c2;
      }

      .wp-core-ui .wp-ui-text-notification {
          color: #f300c2;
      }

      .wp-core-ui .wp-ui-text-icon {
          color: var(--color-icon);
      }

      /* List tables */
      .wrap .add-new-h2:hover,
      .wrap .page-title-action:hover {
          color: #fff;
          background-color: var(--color-background);
      }

      .view-switch a.current:before {
          color: var(--color-background);
      }

      .view-switch a:hover:before {
          color: #f300c2;
      }

      /* Admin Menu */
      #adminmenuback,
      #adminmenuwrap,
      #adminmenu {
          background: var(--color-background);
      }

      #adminmenu a {
          color: #fff;
      }

      #adminmenu div.wp-menu-image:before {
          color: var(--color-icon);
      }

      #adminmenu a:hover,
      #adminmenu li.menu-top:hover,
      #adminmenu li.opensub>a.menu-top,
      #adminmenu li>a.menu-top:focus {
          color: #fff;
          background-color: #0000f1;
      }

      #adminmenu li.menu-top:hover div.wp-menu-image:before,
      #adminmenu li.opensub>a.menu-top div.wp-menu-image:before {
          color: #fff;
      }

      /* Active tabs use a bottom border color that matches the page background color. */
      .about-wrap .nav-tab-active,
      .nav-tab-active,
      .nav-tab-active:hover {
          background-color: #f8f8f8;
          border-bottom-color: #f8f8f8;
      }

      /* Admin Menu: submenu */


      #adminmenu .wp-submenu {
          border-radius: 0 0.25rem 0.25rem 0;
          left: 200px;

          &>li>a {
              margin-inline: 8px;
              border-radius: 1rem;
          }
      }

      #adminmenu .wp-submenu,
      #adminmenu .wp-has-current-submenu .wp-submenu,
      #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
      .folded #adminmenu .wp-has-current-submenu .wp-submenu,
      #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
          background: #08090b;
      }


      #adminmenu .wp-has-current-submenu .wp-submenu,
      #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
      .folded #adminmenu .wp-has-current-submenu .wp-submenu {
          left: auto;
      }

      #adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
          border-right-color: #08090b;
      }

      #adminmenu .wp-submenu .wp-submenu-head {
          color: #babbbc;
      }

      #adminmenu .wp-submenu a,
      #adminmenu .wp-has-current-submenu .wp-submenu a,
      .folded #adminmenu .wp-has-current-submenu .wp-submenu a,
      #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a,
      #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
          color: #babbbc;
      }

      #adminmenu .wp-submenu a:focus,
      #adminmenu .wp-submenu a:hover,
      #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
      #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
      .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
      .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
      #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:focus,
      #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover,
      #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
      #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
          color: #342ee6;
      }

      /* Admin Menu: current */
      #adminmenu .wp-submenu li.current a,
      #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a,
      #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
          color: #fff;
      }

      #adminmenu .wp-submenu li.current a:hover,
      #adminmenu .wp-submenu li.current a:focus,
      #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:hover,
      #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:focus,
      #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
      #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
          color: #342ee6;
      }

      ul#adminmenu a.wp-has-current-submenu:after,
      ul#adminmenu>li.current>a.current:after {
          border-right-color: #f8f8f8;
      }

      #adminmenu li.current a.menu-top,
      #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
      #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
      .folded #adminmenu li.current.menu-top {
          color: #fff;
          background: #0000f1;
      }

      #adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
      #adminmenu a.current:hover div.wp-menu-image:before,
      #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
      #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
      #adminmenu li:hover div.wp-menu-image:before,
      #adminmenu li a:focus div.wp-menu-image:before,
      #adminmenu li.opensub div.wp-menu-image:before,
      .ie8 #adminmenu li.opensub div.wp-menu-image:before {
          color: #fff;
      }

      /* Admin Menu: bubble */
      #adminmenu .awaiting-mod,
      #adminmenu .update-plugins {
          color: #fff;
          background: #f300c2;
      }

      #adminmenu li.current a .awaiting-mod,
      #adminmenu li a.wp-has-current-submenu .update-plugins,
      #adminmenu li:hover a .awaiting-mod,
      #adminmenu li.menu-top:hover>a .update-plugins {
          color: #fff;
          background: #08090b;
      }

      /* Admin Menu: collapse button */
      #collapse-button {
          color: var(--color-icon);
      }

      #collapse-button:hover,
      #collapse-button:focus {
          color: #342ee6;
      }

      /* Admin Bar */
      #wpadminbar {
          color: #fff;
          background: var(--color-background);
          padding: 0.5rem;
      }

      #wpadminbar .ab-item,
      #wpadminbar a.ab-item,
      #wpadminbar>#wp-toolbar span.ab-label,
      #wpadminbar>#wp-toolbar span.noticon,
      .menupop {
          color: #fff;
          border-radius: 1rem;
      }

      #wpadminbar .ab-icon,
      #wpadminbar .ab-icon:before,
      #wpadminbar .ab-item:before,
      #wpadminbar .ab-item:after {
          color: var(--color-icon);
      }

      #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
      #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus,
      #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
      #wpadminbar.nojs .ab-top-menu>li.menupop:hover>.ab-item,
      #wpadminbar .ab-top-menu>li.menupop.hover>.ab-item {
          color: #342ee6;
          background: #08090b;
      }

      #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
      #wpadminbar:not(.mobile)>#wp-toolbar li.hover span.ab-label,
      #wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label {
          color: white;
      }

      #wpadminbar:not(.mobile) li:hover .ab-icon:before,
      #wpadminbar:not(.mobile) li:hover .ab-item:before,
      #wpadminbar:not(.mobile) li:hover .ab-item:after,
      #wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
          color: #fff;
      }

      /* Admin Bar: submenu */
      #wpadminbar .menupop .ab-sub-wrapper {
          background: #08090b;
      }

      #wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
      #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
          background: #2b2d30;
      }

      #wpadminbar .ab-submenu .ab-item,
      #wpadminbar .quicklinks .menupop ul li a,
      #wpadminbar .quicklinks .menupop.hover ul li a,
      #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
          color: #babbbc;
      }

      #wpadminbar .quicklinks li .blavatar,
      #wpadminbar .menupop .menupop>.ab-item:before {
          color: var(--color-icon);
      }

      #wpadminbar .quicklinks .menupop ul li a:hover,
      #wpadminbar .quicklinks .menupop ul li a:focus,
      #wpadminbar .quicklinks .menupop ul li a:hover strong,
      #wpadminbar .quicklinks .menupop ul li a:focus strong,
      #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
      #wpadminbar .quicklinks .menupop.hover ul li a:hover,
      #wpadminbar .quicklinks .menupop.hover ul li a:focus,
      #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
      #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
      #wpadminbar li:hover .ab-icon:before,
      #wpadminbar li:hover .ab-item:before,
      #wpadminbar li a:focus .ab-icon:before,
      #wpadminbar li .ab-item:focus:before,
      #wpadminbar li .ab-item:focus .ab-icon:before,
      #wpadminbar li.hover .ab-icon:before,
      #wpadminbar li.hover .ab-item:before,
      #wpadminbar li:hover #adminbarsearch:before,
      #wpadminbar li #adminbarsearch.adminbar-focused:before {
          color: #0000f1;
      }

      #wpadminbar .quicklinks li a:hover .blavatar,
      #wpadminbar .quicklinks li a:focus .blavatar,
      #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a .blavatar,
      #wpadminbar .menupop .menupop>.ab-item:hover:before,
      #wpadminbar.mobile .quicklinks .ab-icon:before,
      #wpadminbar.mobile .quicklinks .ab-item:before {
          color: #0000f1;
      }

      #wpadminbar.mobile .quicklinks .hover .ab-icon:before,
      #wpadminbar.mobile .quicklinks .hover .ab-item:before {
          color: var(--color-icon);
      }

      /* Admin Bar: search */
      #wpadminbar #adminbarsearch:before {
          color: var(--color-icon);
      }

      #wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
          color: #fff;
          background: #282d33;
      }

      /* Admin Bar: recovery mode */
      #wpadminbar #wp-admin-bar-recovery-mode {
          color: #fff;
          background-color: #f300c2;
      }

      #wpadminbar #wp-admin-bar-recovery-mode .ab-item,
      #wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
          color: #fff;
      }

      #wpadminbar .ab-top-menu>#wp-admin-bar-recovery-mode.hover>.ab-item,
      #wpadminbar.nojq .quicklinks .ab-top-menu>#wp-admin-bar-recovery-mode>.ab-item:focus,
      #wpadminbar:not(.mobile) .ab-top-menu>#wp-admin-bar-recovery-mode:hover>.ab-item,
      #wpadminbar:not(.mobile) .ab-top-menu>#wp-admin-bar-recovery-mode>.ab-item:focus {
          color: #fff;
          background-color: #db00af;
      }

      /* Admin Bar: my account */
      #wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
          background-color: #282d33;
          border-color: #282d33;
      }

      #wpadminbar #wp-admin-bar-user-info .display-name {
          color: #fff;
      }

      #wpadminbar #wp-admin-bar-user-info a:hover .display-name {
          color: #342ee6;
      }

      #wpadminbar #wp-admin-bar-user-info .username {
          color: #babbbc;
      }

      /* Pointers */
      .wp-pointer .wp-pointer-content h3 {
          background-color: #0000f1;
          border-color: #211be0;
      }

      .wp-pointer .wp-pointer-content h3:before {
          color: #0000f1;
      }

      .wp-pointer.wp-pointer-top .wp-pointer-arrow,
      .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
      .wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
      .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
          border-bottom-color: #0000f1;
      }

      /* Media */
      .media-item .bar,
      .media-progress-bar div {
          background-color: #0000f1;
      }

      .details.attachment {
          box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0000f1;
      }

      .attachment.details .check {
          background-color: #0000f1;
          box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0000f1;
      }

      .media-selection .attachment.selection.details .thumbnail {
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0000f1;
      }

      /* Themes */
      .theme-browser .theme.active .theme-name,
      .theme-browser .theme.add-new-theme a:hover:after,
      .theme-browser .theme.add-new-theme a:focus:after {
          background: #0000f1;
      }

      .theme-browser .theme.add-new-theme a:hover span:after,
      .theme-browser .theme.add-new-theme a:focus span:after {
          color: #0000f1;
      }

      .theme-section.current,
      .theme-filter.current {
          border-bottom-color: var(--color-background);
      }

      body.more-filters-opened .more-filters {
          color: #fff;
          background-color: var(--color-background);
      }

      body.more-filters-opened .more-filters:before {
          color: #fff;
      }

      body.more-filters-opened .more-filters:hover,
      body.more-filters-opened .more-filters:focus {
          color: #fff;
          background-color: #0000f1;
      }

      body.more-filters-opened .more-filters:hover:before,
      body.more-filters-opened .more-filters:focus:before {
          color: #fff;
      }

      /* Widgets */
      .widgets-chooser li.widgets-chooser-selected {
          color: #fff;
          background-color: #0000f1;
      }

      .widgets-chooser li.widgets-chooser-selected:before,
      .widgets-chooser li.widgets-chooser-selected:focus:before {
          color: #fff;
      }

      /* Responsive Component */
      div#wp-responsive-toggle a:before {
          color: var(--color-icon);
      }

      .wp-responsive-open div#wp-responsive-toggle a {
          border-color: transparent;
          background: #0000f1;
      }

      .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
          background: #08090b;
      }

      .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
          color: var(--color-icon);
      }

      #wpbody {
          padding: 0 3rem;
          background: #f9fafb;
          border-radius: 1rem 0 0 1rem;
          min-height: 100vh;
      }

      .card,
      .rsssl-grid-item,
      .rsssl-wizard-help-notice,
      .googlesitekit-layout.googlesitekit-layout--rounded,
      .media-modal,
      .aioseo-card,
      .aioseo-feature-card,
      .cmplz .cmplz-grid-container,
      .comment-ays,
      .feature-filter,
      .imgedit-group,
      .manage-menus,
      .media-toolbar,
      .menu-item-handle,
      .popular-tags,
      .postbox,
      .stuffbox,
      .theme-overlay .theme-wrap,
      .widget-inside,
      .widget-top,
      .widgets-holder-wrap,
      .wp-editor-container,
      .wp-filter,
      #menu-management .menu-edit,
      #menu-settings-column .accordion-container,
      p.popular-tags,
      table.widefat {
          box-shadow: none;
          border-radius: 0.3rem;
          border: 1px solid var(--color-border);
          overflow: hidden;
      }

      .edit-attachment-frame .attachment-info {
          background-color: var(--color-light-background);
      }

      .attachment-media-view.landscape,
      .edit-attachment-frame .attachment-details,
      .attachment-info {
          box-shadow: none !important;
      }

      #wpadminbar #adminbarsearch:before,
      #wpadminbar .ab-icon:before,
      #wpadminbar .ab-item:before {
          color: #a7aaad;
      }

      #adminmenu li.current a.menu-top,
      #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
      #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
      .folded #adminmenu li.current.menu-top {
          display: flex;
          align-items: center;
          color: white !important;
      }

      #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
      #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
      #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
      #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover,
      #adminmenu .wp-submenu a:focus,
      #adminmenu .wp-submenu a:hover,
      #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:focus,
      #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover,
      .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
      .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover {
          color: white !important;
      }

      .wp-core-ui .button,
      .wp-core-ui .button-secondary,
      .wp-core-ui .button-primary {
          color: #003ab3 !important;
          background: #86a7bd1a !important;
          border: none;
          border-radius: 0.3rem;

      }


      .wrap .add-new-h2,
      .wrap .add-new-h2:active,
      .wrap .page-title-action,
      .wrap .page-title-action:active,
      .btn {
          display: inline-flex;
          align-items: center;
          margin-left: 0.5rem;
          padding: 0.5rem 1rem;
          transform: translateY(-3px);
          color: white !important;
          background: var(--color-button);
          border-radius: 2rem;
          border: none;
          white-space: nowrap;

      }

      .w3tc-button-control-container .w3tc-button-flush-dropdown>.btn {

          background: var(--color-button);
      }

      .alternate,
      .striped>tbody>:nth-child(odd),
      ul.striped>:nth-child(odd) {
          background: #f2f5f7;
      }

      .media-frame,
      .media-frame .attachments-browser,
      .media-frame-content {
          overflow: visible;
      }


      .attachments-wrapper {

          margin: -0.65rem;
      }

      .wrap h1.wp-heading-inline,
      .wrap .carbon-theme-options h2,
      .wrap h1,
      .postbox .inside h2,
      .wrap [class$=icon32]+h2,
      .wrap h1,
      .wrap>h2:first-child {
          width: fit-content;
          margin-top: 2rem;
          margin-bottom: 2rem;
          color: #0000f1;
          font-size: 2rem;
          font-family: proxima-nova, Proxima Nova, Arial, Helvetica, sans-serif;
          font-style: italic;
          font-weight: 1000;
          line-height: 0.875;
      }

      input[type=color],
      input[type=date],
      input[type=datetime-local],
      input[type=datetime],
      input[type=email],
      input[type=month],
      input[type=number],
      input[type=password],
      input[type=search],
      input[type=tel],
      input[type=text],
      input[type=time],
      input[type=url],
      input[type=week],
      select,
      textarea,
      .wp-core-ui select {
          border: 1px solid #e0e6eb;
          border-radius: 0.3rem;
      }

      .ui-sortable-handle {
          letter-spacing: 0px;
          font-size: 0.875rem !important;
      }

      .postbox-header {
          background: --var(color-light-background);
          border: none;
          border-bottom: 1px solid #e0e6ea;
      }

      .widefat thead td,
      .widefat tfoot tr td,
      .widefat tfoot tr th,
      .widefat thead tr td,
      .widefat thead tr th,
      .widefat thead th {
          border: none !important;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
      }

      #posts-filter .wp-filter {
          border: none !important;
          border-radius: 0.3rem;
          background: var(--color-light-background)80;

      }

      ul#adminmenu a.wp-has-current-submenu:after,
      ul#adminmenu>li.current>a.current:after {
          border-right-color: #f8f8f8;
      }

      #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item {
          color: white;
          background-color: #0000f1;
      }

      #adminmenu li.menu-top:hover .wp-menu-name,
      #adminmenu a:hover,
      #adminmenu li>a.menu-top:focus,
      #adminmenu .wp-submenu li.current a:focus,
      #adminmenu .wp-submenu li.current a:hover {
          color: white !important;
          box-shadow: none;
      }

      #adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after,
      #adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
          border: none;
      }

      .folded #adminmenuwrap #adminmenu div.wp-menu-image,
      .auto-fold #adminmenu div.wp-menu-image {
          display: block !important;
      }

      .wp-submenu-head {
          background: #0000f1 !important;
      }

      #wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
          display: block;
          width: 22px;
          height: 20px;
          margin: 1px 2px;
          color: rgba(0, 0, 0, 0);
          background-image: url("../images/logo.svg") !important;
          background-position: 0 0;
          background-size: contain;
          background-repeat: no-repeat;
      }

      #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
          color: transparent;
      }

      #wpadminbar #wp-admin-bar-wp-logo.hover>.ab-item .ab-icon {
          background-position: 0 0;
      }

      #wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
          content: "";
      }

      #adminmenu .wp-submenu-head {
          display: none !important;
      }

      #publish {
          color: white !important;
          background: #0000f1 !important;
      }

      .media-upload-form .notice,
      .media-upload-form div.error,
      .wrap div.error,
      .wrap div.updated {
          border-radius: 0.25rem;
          box-shadow: none !important;
      }


      .wrap .notice {

          border-radius: 0.25rem;
      }

      .folded #wpcontent,
      .folded #wpfooter {
          margin-left: 36px !important;
      }


      .folded #adminmenu li.menu-top,

      .folded #adminmenu,


      .folded #adminmenuback,

      .folded #adminmenuwrap {
          width: 36px !important;
      }

      .acf-admin-toolbar {
          display: none;
      }

      #acf-field-group-pro-features,
      .rsssl-locked {
          display: none !important;
      }

      .acf-headerbar {
          margin-left: 0;
          background-color: white;
          border-radius: 1rem 1rem 0 0;
          position: relative;


          .acf-btn {
              @extend .btn;
          }
      }

      .acf-editor-wrap .wp-editor-container {
          border: 1px solid #ccd0d4 !important;
      }

      #e-admin-top-bar-root {
          width: calc(100% - 200px);
      }


      .notice {
          position: relative;
          box-sizing: border-box;
          padding: 1rem;
          background-color: #E7EFF9;
          border-width: 1px;
          border-style: solid;
          border-color: #9DBAEE;
          border-radius: 8px;
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
          color: #344054;
      }

      .update-message,
      .hmwp_notice.notice {
          background-color: #fcf9e8 !important;
          border: 1px solid #eeda9d !important;
      }

      .cky-header {
          display: none;
      }

      .cky-app-wrap .cky-app-nav-bar,
      .aioseo-header,
      .aioseo-notifications .overlay {
          left: 200px !important;
      }

      .cky-app-wrap .cky-row,
      .cky-nav-menu {
          margin-left: 0;
      }

      .button.updated-message:before,
      .installed p:before,
      .updated-message p:before {
          color: #1daa35;
      }

      @media only screen and (max-width: 960px) {


          .auto-fold #adminmenu div.wp-menu-image {
              position: relative;
          }

          #wpcontent {
              padding: 0;
          }
      }


      @media only screen and (min-width: 960px) {

          #adminmenu .wp-submenu-head,
          #adminmenu a.menu-top {
              padding: 0.5rem;
          }

      }
  }


  #adminmenu,
  #adminmenu .wp-submenu,
  #adminmenuback,
  #adminmenuwrap {
      width: 200px;
  }


  #wpcontent,
  #wpfooter {
      margin-left: 200px;
  }


  #wpcontent {
      padding-left: 0;
      background-color: var(--color-background) !important;
  }


  a:hover,
  a:active,
  a:focus {
      color: #ff27d3;
  }

  #post-body .misc-pub-post-status:before,
  #post-body #visibility:before,
  .curtime #timestamp:before,
  #post-body .misc-pub-revisions:before,
  span.wp-media-buttons-icon:before {
      color: currentColor;
  }

  /* Forms */
  input[type=checkbox]:checked::before {
      content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%230000f1%27%2F%3E%3C%2Fsvg%3E");
  }

  input[type=radio]:checked::before {
      background: #0000f1;
  }

  .wp-core-ui input[type="reset"]:hover,
  .wp-core-ui input[type="reset"]:active {
      color: #ff27d3;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="color"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="email"]:focus,
  input[type="month"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="week"]:focus,
  input[type="checkbox"]:focus,
  input[type="radio"]:focus,
  select:focus,
  textarea:focus {
      border-color: #0000f1;
      box-shadow: 0 0 0 1px #0000f1;
  }

  /* Core UI */
  .wp-core-ui .button,
  .wp-core-ui .button-secondary {
      color: #0000f1;
      border-color: #0000f1;
  }

  .wp-core-ui .button.hover,
  .wp-core-ui .button:hover,
  .wp-core-ui .button-secondary:hover,
  .wp-core-ui .button.focus,
  .wp-core-ui .button:focus,
  .wp-core-ui .button-secondary:focus {
      color: #0000d8;
      border-color: #0000d8;
  }

  .wp-core-ui .button.focus,
  .wp-core-ui .button:focus,
  .wp-core-ui .button-secondary:focus {
      color: #0000d8;
      border-color: #0000f1;
      box-shadow: 0 0 0 1px #0000f1;
  }

  .wp-core-ui .button:active {
      background: #0000d8;
      border-color: #0000d8;
  }

  .wp-core-ui .button.active,
  .wp-core-ui .button.active:focus,
  .wp-core-ui .button.active:hover {
      color: #0000d8;
      border-color: #0000d8;
      box-shadow: inset 0 2px 5px -3px #0000d8;
  }

  .wp-core-ui .button-primary {
      color: #fff;
      background: #0000f1;
      border-color: #0000f1;
  }

  .wp-core-ui .button-primary:hover,
  .wp-core-ui .button-primary:focus {
      color: #fff;
      background: #0101ff;
      border-color: #0000e2;
  }

  .wp-core-ui .button-primary:focus {
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0000f1;
  }

  .wp-core-ui .button-primary:active {
      color: #fff;
      background: #0000d8;
      border-color: #0000d8;
  }

  .wp-core-ui .button-primary.active,
  .wp-core-ui .button-primary.active:focus,
  .wp-core-ui .button-primary.active:hover {
      color: #fff;
      background: #0000f1;
      border-color: #0000a5;
      box-shadow: inset 0 2px 5px -3px black;
  }

  .wp-core-ui .button-primary[disabled],
  .wp-core-ui .button-primary:disabled,
  .wp-core-ui .button-primary.button-primary-disabled,
  .wp-core-ui .button-primary.disabled {
      color: #c7c7d1 !important;
      background: #0000c8 !important;
      border-color: #0000c8 !important;
      text-shadow: none !important;
  }

  .wp-core-ui .button-group>.button.active {
      border-color: #0000f1;
  }

  .wp-core-ui .wp-ui-primary {
      color: #fff;
      background-color: var(--color-background);
  }

  .wp-core-ui .wp-ui-text-primary {
      color: var(--color-background);
  }

  .wp-core-ui .wp-ui-highlight {
      color: #fff;
      background-color: #0000f1;
  }

  .wp-core-ui .wp-ui-text-highlight {
      color: #0000f1;
  }

  .wp-core-ui .wp-ui-notification {
      color: #fff;
      background-color: #f300c2;
  }

  .wp-core-ui .wp-ui-text-notification {
      color: #f300c2;
  }

  .wp-core-ui .wp-ui-text-icon {
      color: var(--color-icon);
  }

  /* List tables */
  .wrap .add-new-h2:hover,
  .wrap .page-title-action:hover {
      color: #fff;
      background-color: var(--color-background);
  }

  .view-switch a.current:before {
      color: var(--color-background);
  }

  .view-switch a:hover:before {
      color: #f300c2;
  }

  /* Admin Menu */
  #adminmenuback,
  #adminmenuwrap,
  #adminmenu {
      background: var(--color-background);
  }

  #adminmenu a {
      color: #fff;
  }

  #adminmenu div.wp-menu-image:before {
      color: var(--color-icon);
  }

  #adminmenu a:hover,
  #adminmenu li.menu-top:hover,
  #adminmenu li.opensub>a.menu-top,
  #adminmenu li>a.menu-top:focus {
      color: #fff;
      background-color: #0000f1;
  }

  #adminmenu li.menu-top:hover div.wp-menu-image:before,
  #adminmenu li.opensub>a.menu-top div.wp-menu-image:before {
      color: #fff;
  }

  /* Active tabs use a bottom border color that matches the page background color. */
  .about-wrap .nav-tab-active,
  .nav-tab-active,
  .nav-tab-active:hover {
      background-color: #f8f8f8;
      border-bottom-color: #f8f8f8;
  }

  /* Admin Menu: submenu */


  #adminmenu .wp-submenu {
      left: 200px;
      border-radius: 0 0.25rem 0.25rem 0;
  }

  #adminmenu .wp-submenu,
  #adminmenu .wp-has-current-submenu .wp-submenu,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu,
  #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
      background: #08090b;
  }

  #adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
      border-right-color: #08090b;
  }

  #adminmenu .wp-submenu .wp-submenu-head {
      color: #babbbc;
  }

  #adminmenu .wp-submenu a,
  #adminmenu .wp-has-current-submenu .wp-submenu a,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a,
  #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
      color: #babbbc;
  }

  #adminmenu .wp-submenu a:focus,
  #adminmenu .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:focus,
  #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
      color: #342ee6;
  }

  /* Admin Menu: current */
  #adminmenu .wp-submenu li.current a,
  #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
      color: #fff;
  }

  #adminmenu .wp-submenu li.current a:hover,
  #adminmenu .wp-submenu li.current a:focus,
  #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:hover,
  #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
      color: #342ee6;
  }

  ul#adminmenu a.wp-has-current-submenu:after,
  ul#adminmenu>li.current>a.current:after {
      border-right-color: #f8f8f8;
  }

  #adminmenu li.current a.menu-top,
  #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
  #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
  .folded #adminmenu li.current.menu-top {
      color: #fff;
      background: #0000f1;
  }

  #adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
  #adminmenu a.current:hover div.wp-menu-image:before,
  #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
  #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
  #adminmenu li:hover div.wp-menu-image:before,
  #adminmenu li a:focus div.wp-menu-image:before,
  #adminmenu li.opensub div.wp-menu-image:before,
  .ie8 #adminmenu li.opensub div.wp-menu-image:before {
      color: #fff;
  }

  /* Admin Menu: bubble */
  #adminmenu .awaiting-mod,
  #adminmenu .update-plugins {
      color: #fff;
      background: #f300c2;
  }

  #adminmenu li.current a .awaiting-mod,
  #adminmenu li a.wp-has-current-submenu .update-plugins,
  #adminmenu li:hover a .awaiting-mod,
  #adminmenu li.menu-top:hover>a .update-plugins {
      color: #fff;
      background: #08090b;
  }

  /* Admin Menu: collapse button */
  #collapse-button {
      color: var(--color-icon);
  }

  #collapse-button:hover,
  #collapse-button:focus {
      color: #342ee6;
  }

  /* Admin Bar */
  #wpadminbar {
      color: #fff;
      background: var(--color-background);
      box-sizing: border-box;
      height: calc(32px + 1rem);
  }


  #wpadminbar .ab-icon,
  #wpadminbar .ab-icon:before,
  #wpadminbar .ab-item:before,
  #wpadminbar .ab-item:after {
      color: var(--color-icon);
  }

  #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
  #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus,
  #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
  #wpadminbar.nojs .ab-top-menu>li.menupop:hover>.ab-item,
  #wpadminbar .ab-top-menu>li.menupop.hover>.ab-item {
      color: #342ee6;
      background: #08090b;
  }

  #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
  #wpadminbar:not(.mobile)>#wp-toolbar li.hover span.ab-label,
  #wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label {
      color: #342ee6;
  }

  #wpadminbar:not(.mobile) li:hover .ab-icon:before,
  #wpadminbar:not(.mobile) li:hover .ab-item:before,
  #wpadminbar:not(.mobile) li:hover .ab-item:after,
  #wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
      color: #fff;
  }

  /* Admin Bar: submenu */
  #wpadminbar .menupop .ab-sub-wrapper {
      background: #08090b;
  }

  #wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
  #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
      background: #2b2d30;
  }

  #wpadminbar .ab-submenu .ab-item,
  #wpadminbar .quicklinks .menupop ul li a,
  #wpadminbar .quicklinks .menupop.hover ul li a,
  #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
      color: #babbbc;
  }

  #wpadminbar .quicklinks li .blavatar,
  #wpadminbar .menupop .menupop>.ab-item:before {
      color: var(--color-icon);
  }

  #wpadminbar .quicklinks .menupop ul li a:hover,
  #wpadminbar .quicklinks .menupop ul li a:focus,
  #wpadminbar .quicklinks .menupop ul li a:hover strong,
  #wpadminbar .quicklinks .menupop ul li a:focus strong,
  #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
  #wpadminbar .quicklinks .menupop.hover ul li a:hover,
  #wpadminbar .quicklinks .menupop.hover ul li a:focus,
  #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
  #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
  #wpadminbar li:hover .ab-icon:before,
  #wpadminbar li:hover .ab-item:before,
  #wpadminbar li a:focus .ab-icon:before,
  #wpadminbar li .ab-item:focus:before,
  #wpadminbar li .ab-item:focus .ab-icon:before,
  #wpadminbar li.hover .ab-icon:before,
  #wpadminbar li.hover .ab-item:before,
  #wpadminbar li:hover #adminbarsearch:before,
  #wpadminbar li #adminbarsearch.adminbar-focused:before {
      color: #0000f1;
  }

  #wpadminbar .quicklinks li a:hover .blavatar,
  #wpadminbar .quicklinks li a:focus .blavatar,
  #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a .blavatar,
  #wpadminbar .menupop .menupop>.ab-item:hover:before,
  #wpadminbar.mobile .quicklinks .ab-icon:before,
  #wpadminbar.mobile .quicklinks .ab-item:before {
      color: #0000f1;
  }

  #wpadminbar.mobile .quicklinks .hover .ab-icon:before,
  #wpadminbar.mobile .quicklinks .hover .ab-item:before {
      color: var(--color-icon);
  }

  /* Admin Bar: search */
  #wpadminbar #adminbarsearch:before {
      color: var(--color-icon);
  }

  #wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
      color: #fff;
      background: #282d33;
  }

  /* Admin Bar: recovery mode */
  #wpadminbar #wp-admin-bar-recovery-mode {
      color: #fff;
      background-color: #f300c2;
  }

  #wpadminbar #wp-admin-bar-recovery-mode .ab-item,
  #wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
      color: #fff;
  }

  #wpadminbar .ab-top-menu>#wp-admin-bar-recovery-mode.hover>.ab-item,
  #wpadminbar.nojq .quicklinks .ab-top-menu>#wp-admin-bar-recovery-mode>.ab-item:focus,
  #wpadminbar:not(.mobile) .ab-top-menu>#wp-admin-bar-recovery-mode:hover>.ab-item,
  #wpadminbar:not(.mobile) .ab-top-menu>#wp-admin-bar-recovery-mode>.ab-item:focus {
      color: #fff;
      background-color: #db00af;
  }

  /* Admin Bar: my account */
  #wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
      background-color: #282d33;
      border-color: #282d33;
  }

  #wpadminbar #wp-admin-bar-user-info .display-name {
      color: #fff;
  }

  #wpadminbar #wp-admin-bar-user-info a:hover .display-name {
      color: #342ee6;
  }

  #wpadminbar #wp-admin-bar-user-info .username {
      color: #babbbc;
  }

  /* Pointers */
  .wp-pointer .wp-pointer-content h3 {
      background-color: #0000f1;
      border-color: #211be0;
  }

  .wp-pointer .wp-pointer-content h3:before {
      color: #0000f1;
  }

  .wp-pointer.wp-pointer-top .wp-pointer-arrow,
  .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
  .wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
  .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
      border-bottom-color: #0000f1;
  }

  /* Media */
  .media-item .bar,
  .media-progress-bar div {
      background-color: #0000f1;
  }

  .details.attachment {
      box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0000f1;
  }

  .attachment.details .check {
      background-color: #0000f1;
      box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0000f1;
  }

  .media-selection .attachment.selection.details .thumbnail {
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0000f1;
  }

  /* Themes */
  .theme-browser .theme.active .theme-name,
  .theme-browser .theme.add-new-theme a:hover:after,
  .theme-browser .theme.add-new-theme a:focus:after {
      background: #0000f1;
  }

  .theme-browser .theme.add-new-theme a:hover span:after,
  .theme-browser .theme.add-new-theme a:focus span:after {
      color: #0000f1;
  }

  .theme-section.current,
  .theme-filter.current {
      border-bottom-color: var(--color-background);
  }

  body.more-filters-opened .more-filters {
      color: #fff;
      background-color: var(--color-background);
  }

  body.more-filters-opened .more-filters:before {
      color: #fff;
  }

  body.more-filters-opened .more-filters:hover,
  body.more-filters-opened .more-filters:focus {
      color: #fff;
      background-color: #0000f1;
  }

  body.more-filters-opened .more-filters:hover:before,
  body.more-filters-opened .more-filters:focus:before {
      color: #fff;
  }

  /* Widgets */
  .widgets-chooser li.widgets-chooser-selected {
      color: #fff;
      background-color: #0000f1;
  }

  .widgets-chooser li.widgets-chooser-selected:before,
  .widgets-chooser li.widgets-chooser-selected:focus:before {
      color: #fff;
  }

  /* Responsive Component */
  div#wp-responsive-toggle a:before {
      color: var(--color-icon);
  }

  .wp-responsive-open div#wp-responsive-toggle a {
      border-color: transparent;
      background: #0000f1;
  }

  .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
      background: #08090b;
  }

  .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
      color: var(--color-icon);
  }

  /* TinyMCE */
  .mce-container.mce-menu .mce-menu-item:hover,
  .mce-container.mce-menu .mce-menu-item.mce-selected,
  .mce-container.mce-menu .mce-menu-item:focus,
  .mce-container.mce-menu .mce-menu-item-normal.mce-active,
  .mce-container.mce-menu .mce-menu-item-preview.mce-active {
      background: #0000f1;
  }

  @import url("https://p.typekit.net/p.css?s=1&k=zge3vok&ht=tk&f=138&a=69548284&app=typekit&e=css");

  @font-face {
      font-family: "proxima-nova";
      src: url("https://use.typekit.net/af/671919/00000000000000007735954e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"), url("https://use.typekit.net/af/671919/00000000000000007735954e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"), url("https://use.typekit.net/af/671919/00000000000000007735954e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
      font-display: auto;
      font-style: italic;
      font-weight: 900;
      font-stretch: normal;
  }


  .wp-core-ui .button,
  .wp-core-ui .button-secondary,
  .wp-core-ui .button-primary {
      color: #003ab3 !important;
      background: #86a7bd1a !important;
      border: none;
      border-radius: 0.3rem;

  }


  .wrap .add-new-h2,
  .wrap .add-new-h2:active,
  .wrap .page-title-action,
  .wrap .page-title-action:active {
      display: inline-block;
      margin-left: 1.5rem;
      padding: 0.5rem 1rem;
      transform: translateY(-3px);
      color: white;
      background: #2ead4b;
      border-radius: 1rem;
      border: none;

  }

  .alternate,
  .striped>tbody>:nth-child(odd),
  ul.striped>:nth-child(odd) {
      background: #f2f5f7;
  }

  ul#adminmenu a.wp-has-current-submenu:after,
  ul#adminmenu>li.current>a.current:after {
      border-right-color: white;
  }

  #adminmenu li.menu-top:hover .wp-menu-name,
  #adminmenu a:hover,
  #adminmenu li>a.menu-top:focus,
  #adminmenu .wp-submenu li.current a:focus,
  #adminmenu .wp-submenu li.current a:hover {
      color: white !important;
      box-shadow: none;
  }

  #adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after,
  #adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
      border: none;
  }

  .folded #adminmenuwrap #adminmenu div.wp-menu-image,
  .auto-fold #adminmenu div.wp-menu-image {
      display: block !important;
  }


  #adminmenu div.wp-menu-name {
      font-weight: 350;
      padding-left: 0;
  }

  #adminmenu div.wp-menu-name:has(.wp-menu-image) {
      padding: 8px;
  }

  .wp-submenu-head {
      background: #0000f1 !important;
  }

  #wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
      display: block;
      width: 22px;
      height: 20px;
      margin: 1px 2px;
      color: rgba(0, 0, 0, 0);
      background-image: url(http://br1054.teste.website/~lkccap51/core/views/49f256bd0d/assets/images/designed-by-roger-junior.svg) !important;
      background-position: 0 0;
      background-size: contain;
      background-repeat: no-repeat;
  }

  #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
      color: transparent;
  }

  #wpadminbar #wp-admin-bar-wp-logo.hover>.ab-item .ab-icon {
      background-position: 0 0;
  }

  #wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
      content: "";
  }

  #adminmenu .wp-submenu-head {
      display: none !important;
  }

  #publish {
      color: white !important;
      background: #0000f1 !important;
  }

  .media-upload-form .notice,
  .media-upload-form div.error,
  .wrap .notice,
  .wrap div.error,
  .wrap div.updated {
      border-radius: 0.25rem;
  }

  #wpcontent,
  #wpfooter {
      margin-left: 200px;
  }


  #wpcontent {
      padding-left: 0;
      padding-right: 0;
  }

  .acf-admin-toolbar {
      background-color: var(--color-background);
      margin-left: 0;
  }

  .acf-headerbar {
      display: none;
  }

  #e-admin-top-bar-root {
      width: calc(100% - 200px);
  }

  @media only screen and (max-width: 960px) {

      .auto-fold #adminmenu div.wp-menu-image {
          position: relative;
      }

      #wpcontent {
          padding: 0;
      }
  }


  @media only screen and (min-width: 960px) {

      #adminmenu .wp-submenu-head,
      #adminmenu a.menu-top {
          padding: 0.5rem;
      }

  }


  // PLUGINS HEADERS
  .googlesitekit-header {
      margin-left: -28px;
      margin-right: -48px;
  }

  .googlesitekit-header,
  .aioseo-header {
      top: calc(32px + 1rem) !important;
      border-radius: 1rem 0 0 0 !important;
      box-shadow: none !important;
  }

  .cmplz-header-container,
  .cmplz-header-container .cmplz-header {
      background-color: transparent !important;
  }


  .plp-container {
      width: 200px;
      height: 200px;
      overflow: hidden;
  }

  .plp-block {
      overflow: hidden;
      border-radius: 2rem;
      animation-duration: 1.8s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #eff1f2 8%, #fafafa 42%, #eff1f2 94%);
      background-size: 1000px 640px;

      position: relative;
      height: 1500px;
      width: 1310px;

      transform: scale(0.13);
      -moz-transform: scale(0.13);
      -o-transform: scale(0.13);
      -webkit-transform: scale(0.13);

      transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      -webkit-transform-origin: left top;

      min-height: 200px;
      min-width: 400px;
  }

  .plp-iframe {
      width: 100%;
      height: 100%;
      border: none;
      pointer-events: none;
  }

  .plp-wrapper {

      border-radius: 0.25rem;
      box-shadow: none;
      width: 144px;
      height: 195px;
  }

  @media screen and (max-width: 1300px) {
      .plp-block {
          height: 1500px;
          max-height: 1500px;
          width: 1110px;
          max-width: 1110px;
      }
  }

  @media screen and (max-width: 1000px) {
      .plp-container {
          display: none;
      }
  }


  @keyframes placeHolderShimmer {
      0% {
          background-position: -468px 0
      }

      100% {
          background-position: 468px 0
      }
  }

  .column-comments,
  .column-likes {
      display: none;
  }

  .column-preview-thumbnail {
      width: 175px;
  }

  .wp-core-ui .attachment-preview {
      border-radius: 0.25rem;
      box-shadow: none;
      border: 1px solid #e0e6eb;

      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiBmaWxsPSJ3aGl0ZSIvPgo8cmVjdCB3aWR0aD0iOSIgaGVpZ2h0PSI5IiBmaWxsPSIjRjBGMkY1Ii8+CjxyZWN0IHg9IjkiIHk9IjkiIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIGZpbGw9IiNGMEYyRjUiLz4KPC9zdmc+Cg==");
  }

  .wp-core-ui .attachment .thumbnail:after {
      box-shadow: none;
  }

  .wp-core-ui .attachment .thumbnail {
      border-radius: 0.25rem;
  }

  .aioseo-post-settings .aioseo-tabs,
  .aioseo-metabox .aioseo-post-settings .aioseo-tabs {
      background-color: white;
  }

  .folded #adminmenu,
  .folded #adminmenu li.menu-top,
  .folded #adminmenuback,
  .folded #adminmenuwrap {
      width: var(--sidebar-size);
  }

  .folded #adminmenu .opensub .wp-submenu,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
  .folded #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu,
  .folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
  .folded #adminmenu .wp-submenu.sub-open,
  .folded #adminmenu a.menu-top:focus+.wp-submenu,
  .no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu {
      left: var(--sidebar-size);
  }

  .wp-switch-editor {
      background-color: transparent !important;
      border-color: transparent !important;
      border-radius: 0.25rem 0.25rem 0 0;
  }

  #wp-content-editor-tools {
      background-color: transparent;
  }

  div.mce-toolbar-grp,
  .html-active .switch-html,
  .tmce-active .switch-tmce,
  .quicktags-toolbar {
      border-color: #e0e6ea !important;
      background-color: var(--color-light-background) !important;
  }


  .wp-switch-editor {
      background-color: white;
      border-color: #e0e6ea !important;
      border-radius: 0.25rem 0.25rem 0 0;
  }

  .html-active .switch-html,
  .tmce-active .switch-tmce {
      border-color: #e0e6ea !important;
      border-bottom-color: var(--color-light-background) !important;
  }

  .wp-editor-container textarea.wp-editor-area {
      border: none;
  }

  .wp-editor-tabs {
      margin-right: 0.5rem;
  }

  #post-status-info {
      margin-top: 0.25rem;
      border-radius: 0.25rem;
      background-color: var(--color-light-background) !important;
      border: 1px solid #e0e6ea !important;
      box-shadow: none;
  }

  #postimagediv .inside img {
      border: 1px solid #e0e6ea !important;
      border-radius: 0.25rem;
  }

  #contact-form-editor .contact-form-editor-panel {
      background-color: var(--color-light-background);
      border: 1px solid var(--color-border);
      border-radius: 0.25rem;
  }

  #contact-form-editor-tabs {
      border-bottom: none;
  }

  #contact-form-editor-tabs li.ui-tabs-active,
  #contact-form-editor-tabs li.ui-tabs-active:hover {
      border-top: 1px solid var(--color-border);
      border-right: 1px solid var(--color-border);
      border-left: 1px solid var(--color-border);
      border-bottom: 1px solid --color-light-background;
      background-color: var(--color-light-background);
  }

  #contact-form-editor-tabs li {
      border-color: var(--color-border);
      background-color: transparent;
      border-radius: 0.25rem 0.25rem 0 0;
  }

  .health-check-header,
  .privacy-settings-header,
  body.admin-bar .googlesitekit-plugin .googlesitekit-navigation {
      margin-inline: -3rem;
  }

  #w3tc_dashboard_banner {
      display: none;
  }

  #w3tc-dashboard-widgets #postbox-container-left,
  #w3tc-dashboard-widgets.metabox-holder,
  #w3tc-dashboard-widgets {
      background: transparent;
  }

  #flush_all.button {
      background-color: #0000f1 !important;
      color: white !important;
  }

  #aioseo-flyout-menu,
  .aioseo-cta.dashboard-cta,
  #wpcf7-welcome-panel,
  #poststuff.aioseo-taxonomy-upsell,
  #w3tc-footer {
      display: none;
  }

  #w3tc {

      #overlay,
      #w3tc-dashboard-widgets {
          display: none;
      }

  }

  #w3tc-top-nav-bar {
      background: white;
      padding: 1rem;
      box-shadow: none;
      margin-left: -48px;
      margin-right: -48px;
  }

  .post-type-tutorial {

      .tablenav {
          display: none;
      }

      #search-submit {
          background-color: var(--color-button) !important;
          color: white !important;
      }

      .search-box {
          margin-bottom: 1rem;
      }


      .wp-heading-inline,
      #mceu_25,
      .page-title-action,
      #show-settings-link {
          display: none !important;
      }

      #titlediv #title {
          padding: 0;
          border: none;
          background-color: transparent;
          font-size: 2rem;
          font-style: italic;
          font-weight: 1000;
          color: var(--color-primary)
      }

      .table-view-list {
          display: grid;
          background: transparent;
          border: none !important;

          thead,
          tfoot {
              display: none;

          }

          tbody {
              display: grid;
              gap: 1rem;
          }

          tr {
              display: flex;
              border-radius: 0.25rem;
              border: 1px solid var(--color-border);
              background-color: white !important;
          }

          .column-aioseo-details,
          .column-date {
              display: none;
          }

      }
  }